$blueColor:#33ADFF;
$greyWords: #BFBFBF;
$labelFontSize: 16px;


.loginmain{
    background-color: white;
    // border: 1px solid green;
    width: 50%;
    border-radius: 0 10px 10px 0;
    padding:  50px 80px 80px;



    .loginbck{
        // border: 1px solid red;

        .lmhead{
            font-size: 28px;
            color: #1E2A40;
            // border: 1px solid yellow;
            margin-bottom: 40px;
            font-weight: 600;
        }

        .lmcont{
            // border: 1px solid blue;


            .check{

                // border: 1px solid green;
                margin-bottom: 30px;

                input[type=checkbox]{
                    display: inline-block;
                    margin-right: 15px;
                  
                }
                p{
                    display: inline-block;
                    // border: 1px solid red;
                    font-size: 12px;
                    font-weight: 600;
                }

            }

            .lbtn{
                cursor:not-allowed;
                border:none;
                padding: 18px;
                background-color: $blueColor;
                height: 35px;
                width: 45%;
                max-width: 318px;
                color: white;
                border-radius: 4px;
                font-size: $labelFontSize;
                padding: 5px;

                
            }
            .active{
                cursor: pointer;
            }
        }
    }
}



.inputmain{

    // border: 1px solid yellow;
    margin-bottom: 15px;
    label{
        display: block;
        margin-bottom: 5px;
        color: #9DA6AF;
    }

    input[type=text],input[type=password],input[type=email]{
        padding: 5px;
        border:none;
        border: 1px solid #9DA6AF;
        width: 65%;
        max-width: 460px;
        height: 35px;
        border-radius: 4px;
        font-size: $labelFontSize;
        color: gray;

    }

    input[type=text]:focus, input[type=password]:focus,input[type=email]:focus {
        border:none;
        border: 2px solid $blueColor;
        border-radius: 4px;
        outline: none;
    }
}

.passmatch{
    padding: 8px;
    background-color: green;
    margin-bottom: 15px;
    color:white;
    width: 65%;
    max-width: 460px;
    font-size: 13px;
    border-radius: 4px;
}

.passmismatch{
    padding: 8px;
    background-color: red;
    margin-bottom: 15px;
    color:white;
    width: 65%;
    max-width: 460px;
    font-size: 13px;
    border-radius: 4px;
}



// media queries for smaller screens of 950px *************
@media screen and(max-width: 950px){
   .loginmain{
       padding: 30px !important;
   }
}



// media queries for smaller screens of 725px *************
@media screen and(max-width: 725px){
    .loginmain{
        padding: 10px !important;
    }
 }



 // media queries for smaller screens of 640px *************
@media screen and(max-width: 640px){
    .loginmain{
        width:100% !important;
        border-radius: 0 0 5px 5px ;
        padding: 30px 20px !important;


        .loginbck{
            .lmhead{
                font-size: 24px !important;
                margin-bottom: 30px !important;
            }
        }
    }




    .inputmain{
        input[type=text],input[type=password],input[type=email]{
            width: 100% !important;
        }
    }

    .passmatch{
        width: 100% !important;
    }

    .passmismatch{
        width: 100% !important;
    }
}


// media queries for smaller screens of 350px *************
@media screen and(max-width: 350px){

    .loginmain{
       
        padding: 30px 5px !important;


        .lbtn{
            min-width: 200px;
        }
    }
}